@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Parkinsans:wght@300..800&display=swap");

body {
  font-family: 'Parkinsans', sans-serif !important;
}
.admin-pill {
  background-color: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(10px);
  cursor: default !important;
}
.glass {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.glass-white {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
input[type="text"] {
  outline: none;
}
input::placeholder {
  font-weight: bold;
}
