@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@400;700&display=swap");
:root {
  --background-color: #111d39;
}
body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  font-family: "Parkinsans", sans-serif;
  color: white;
  padding-top: 1rem;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
nav {
  background-color: var(--background-color);
}
* {
  text-decoration: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  z-index: 10;
}
.avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.modal-content {
  background-color: var(--background-color) !important;
}
input {
  outline: none;
  background: transparent;
  border: none;
  color: white;
  height: 100%;
  width: 90%;
}
.content-wrapper > div > div > div,
.category-img,
.go-back,
.login-input,
.login-password {
  border: 1px solid rgba(255, 255, 255, 0.123);
}
.content-wrapper {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .content-wrapper {
    max-width: 70%;
  }
  .main-content {
    margin-top: 1rem;
  }
}
@media (max-width: 900px) {
  .content-wrapper {
    max-width: 95%;
  }
  .main-content {
    margin-top: 1rem;
  }
}
.search-container {
  height: 50px !important;
  gap: 5px;
  border: 1px solid rgba(255, 255, 255, 0.158);
}
.banner {
  background: linear-gradient(135deg, #00c896, #05b87f);
  border-radius: 20px;
  padding: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 150px !important;
  position: relative;
}
.banner img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  justify-self: baseline;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner img {
    width: 100px;
    margin-top: 1rem;
  }
}
.category-img {
  width: fit-content;
}
.category-img:hover {
  border: 1px solid blue;
}
.job-categories > div > div:hover span {
  color: blue;
}
.job-categories > div > div > span {
  font-size: 0.7rem;
  text-align: center;
}
.headings > a {
  text-decoration: none;
  font-size: 0.9rem;
}
.popular-google {
  background: linear-gradient(135deg, #7c6ff9, #9a68fc);
}
.job-tags > div {
  background-color: #ebe6ffa2;
  font-size: 0.7rem;
}
.learn-more {
  background: #111d3910;
}
.job-salary > a {
  background: #111d3946;
  font-size: 0.7rem;
  text-decoration: none;
}
.popular-microsoft {
  background: linear-gradient(135deg, #1e88e5, #42a5f5);
}
.sign-up-cta > a {
  text-decoration: none;
  cursor: pointer;
}
.sign-up-cta > a:hover {
  color: blue !important;
}
.offcanvas {
  background-color: #111d39;
}
.mobile-ad > span {
  font-size: 0.7rem;
  justify-self: center;
}
.nav-heading {
  font-size: 0.7rem;
}
.dark-mode-switch:checked {
  background-color: #111d39 !important;
  outline: #111d39 !important;
}
.dark-mode-switch {
  outline: #111d39 !important;
  border: 1px solid #ffffff41 !important;
}
.go-back {
  min-width: 30px;
}
.login-input,
.login-password {
  min-height: 50px;
  border-radius: 15px;
}
.login-input > input {
  width: 98% !important;
}
.login-password > input {
  width: 93% !important;
}
.login-password > i {
  cursor: pointer;
}
form button {
  background-color: #2869fe;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  min-height: 50px;
  border-radius: 15px !important;
}
form button:hover {
  background-color: #5387fe;
}
.border-dash,
.alt-login {
  border: 1px solid rgba(255, 255, 255, 0.226) !important;
}
.dasher span {
  font-size: 0.8rem;
}
.alt-login {
  font-size: 1.3rem;
  width: 60px !important;
  height: 60px !important;
}
.small-text {
  font-size: 0.8rem;
}
.recommended-jobs-cards {
  background-color: #242f49;
  border-radius: 15px !important;
}
.job-card-ext-details {
  font-size: 0.7rem;
}
.fullname-no-edit::placeholder {
  color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
select {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 98%;
  cursor: pointer;
}
option {
  background-color: #111d39;
  border: none;
  outline: none;
}
input[type="file"] {
  visibility: hidden;
}
.bi-person-fill {
  font-size: 40px;
  cursor: pointer;
  opacity: 0.7;
}
.profile-upload {
  width: 80px;
  height: 80px;
  background-color: #5e6679;
}
small {
  font-size: 0.7rem;
}
.upload-label {
  cursor: pointer;
}
.interest-cards {
  background-color: #5e66791f;
  border-radius: 15px;
}
.interest-name > i, .purple {
  color: purple;
}
.interest-name {
  width: 90% !important;
}
.checkbox {
  width: 5% !important;
}
.success-msg {
  background-color: #242f49;
}
.job-application,
.job-description-scrollspy, .scrollspy-example {
  background-color: #242f49;
  border-radius: 15px;
  padding: 1rem;
}
ul li::marker{
  color: green;
}
.cv-upload-label{
  cursor: pointer;
  width: 100% !important;
}
textarea{
  border: 1px solid rgba(255, 255, 255, 0.158);
  color: white;
  min-height: 200px;
}
.button-round{
  border-radius: 15px;
}
.search-job-details{
  background: #242f49;
}